body{background-color: #FFFFFF;}
/*
.y3-pageBG{
	background-image:url(../img/pageBG.jpg);
	background-size:200% auto;
	}

*/

.backButtonContainer {float:left; padding:0.6em; margin-left:0.6em; margin-top:1em}


.y3-pageBG{}
.y3-pageBG1{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
	background-image:linear-gradient(top, #C2C2C5 0%, #F0F0F0 60%);
    background-image:-webkit-linear-gradient(top, #C2C2C5 0%, #F0F0F0 60%);
    background-image:-ms-linear-gradient(top, #C2C2C5 0%, #F0F0F0 60%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A2A2A9),
        color-stop(0.60, #D0D0D9)
    );
    background-attachment:fixed;
}

.y3-load{
	width:50%;
    height: 50%;
	text-align:center;
}

.y3-load img{ /*make logo image auto resizable*/
    max-width: 100%;
    height: auto;
	}


@keyframes fade {
    from { opacity: 1.0; }
    30% { opacity: 0.0; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    30% { opacity: 0.0; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

.y3-testpage-description{
	height:3em;
	text-align:center;
	padding:1em 0.5em 0em 0.5em;
	
}
.y3-listDivider{
	font-size:x-large;
	color:#090;

	}
.y3-exitApp{
	/*usata per traversing sui tutti i tasti Exit*/
	}
.y3-center{text-align:center;}
.y3-marOriz{margin-left:1em; margin-right:1em;}

.y3-Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}