.y3-gradient-bg{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#F0F0F0;
    background-image:linear-gradient(top, #B9B9B9 0%, #F0F0F0 51%);
    background-image:-webkit-linear-gradient(top, #B9B9B9 0%, #F0F0F0 51%);
    background-image:-ms-linear-gradient(top, #B9B9B9 0%, #F0F0F0 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #B9B9B9),
        color-stop(0.51, #F0F0F0)
    );
    background-attachment:fixed;
}

.y3-splash{
	padding-top:5em;
	width:50%;
	margin:auto;
	text-align:center;
}

.y3-splash img{
    max-width: 100%;
    height: auto;
	}


@keyframes fade {
    from { opacity: 1.0; }
    30% { opacity: 0.0; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    30% { opacity: 0.0; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

.y3-testpage-description{
	height:4em;
	text-align:center;
	padding:0.5em 0.5em 0em 0.5em;
	
}